<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CollexiIn</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
</head>
<!-- Daftar halaman website
1. Home
2. Login & Register
3. Colection (produk)
4. About us
5. Checkout pembeli
6. CRUD produk (admin)  -->

<body>
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand me-auto" href="#/"><span class="text-warning">Collexi</span
                        class="text-white">In<span></span></a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item me-3">
                            <a class="nav-link" aria-current="page" id="home" href="#/">Home</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link" id="product" href="#/product">Product</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link" id="about" href="#/about">About</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link" id="contact" href="#/contact">Contact Us</a>
                        </li>
                        <li class="nav-item me-3" id="link-login">
                            <a class="nav-link" id="login" href="#/login">Login</a>
                        </li>
                        <li class="nav-item me-3" id="link-keranjang">
                            <a class="nav-link" id="keranjang" href="#/keranjang"><i class="bi bi-cart"></i></a>
                        </li>
                        <li class="nav-item dropdown d-none" id="akun">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false" id="nama_akun">
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item d-none" id="link-dashoard" href="#/dashboard">Dashboard</a></li>
                                <li><a class="dropdown-item d-none" id="daftar-pesanan" href="#/pesanan">Pesanan</a></li>
                                <li><a class="dropdown-item" href="#" id="logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main id="mainContent" class="mt-5 pt-2"></main>

    <footer id="footer">
        <!-- suport -->

        <footer id="footer-header" class="footer-distributed">

            <div class="footer-left">
                <h3>Collexi<span>In</span></h3>
    
                <p class="footer-links">
                    <a href="#">Home</a>
                    |
                    <a href="#/product">Product</a>
                    |
                    <a href="#/about">About</a>
                    |
                    <a href="#/contact">Contact</a>
                </p>
    
                <p class="footer-company-name">Copyright © 2023 <strong>CollexiIn</strong> All rights reserved</p>
            </div>
    
            <div class="footer-center">
                <div>
                    <i class="bi bi-map"></i>
                    <p>CollexiIn</p>
                </div>
    
                <div>
                    <i class="bi bi-phone"></i>
                    <p>+62-8822-7234-856</p>
                </div>
                <div>
                    <i class="bi bi-envelope"></i>
                    <p><a href="https://www.gmail.com/">collexiin@gmail.com</a></p>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About the company</span>
                    <strong>CollexiIn</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Voluptate veniam eum accusamus itaque pariatur qui!
                </p>
                <div class="footer-icons">
                    <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.twitter.com/"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.google.com/"><i class="bi bi-google"></i></a>
                    <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
                </div>
            </div>
        </footer>

        <!-- footer -->
        <div class="container-fluid py-3 bg-dark text-light">
            <div class="container d-flex justify-content-between">
                <label>&copy; 2023 CollexiIn</label>
                <label>Created by Rifan & Dodi</label>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>