*{
    font-family: cursive;
}
body{
    background: rgb(225, 225, 225);
}

/* Navbar */
.navbar-nav a{
    font-size: 15px;
    font-weight: 500;
}
.navbar-dark .navbar-brand{
    font-size: 25px;
    text-transform: 700;
    letter-spacing: 2px;
}
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover{
    color: #000;
}
.w-100{
    height: 100vh;
}

/* Footer */
.content-suport{
    background-color: rgba(0,0,0,0.7);
}


/* Responsive css */
@media only screen and (min-width) and (max-width: 991px){
    .carousel-caption{
        bottom: 370px;
    }
    .carousel-caption p{
        width: 100%;
    }
}

@media only screen and (max-width: 767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
}


/* Home */
.section-padding {
    padding: 50px 0;
}
.carousel-item{
    height: 60vh;
    min-height: 300px;
}
.corousel-caption{
    bottom: 300px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    color: #ffc107;
    text-shadow: 2px 2px 4px black;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 15px;
    line-height: 1.9;
}
/* .carousel-inner::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(24, 24, 24, 0.7);
    z-index: 1;
} */

.hovered-card{
    transition: .3s;
}
.hovered-card:hover{
    transform: scale(1.1);
}

.icon-services{
    width: 90px;
    height: 90px;
    border: solid #fff 2px;
    border-radius: 50px;
    color: white;
}


/* Product */
.jumbotron-product {
    background-color: rgb(225, 225, 225); 
    padding-left: 5%; 
    padding-right: 5%;
}
body .container-product{
    padding-left: 5%;
    padding-right: 5%;
    min-height: 350px;
}



/* About Us */
.img-about{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 68%;
}


/* Login register */
.half-circle-left{
    border-radius: 50% 0 0 50%;
    height: 100vh;
    object-fit: cover;
}
.half-circle-right{
    border-radius: 0 50% 50% 0;
    height: 100vh;
    object-fit: cover;
}

/* pagination table */
#data-produk_paginate ul.pagination li.paginate_button.page-item.active{
    background-color: #ffc107;
}


/* edit produk */
.cover-img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: ease-in;
    cursor: pointer;
}

.text-cover{
    color: #fff;
}

.cover-img:hover{
    animation: 3s ease-in 1s;
    opacity: 1;
    background-color: rgba(0,0,0,0.7);
}